NEXT_PUBLIC_SITE_URL=http://localhost:3000

TG_TOKEN=your_telegram_bot_token
TG_CHAT_ID=your_telegram_chat_id

UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token
